{% load static %}

<html>
 <head>
   <link
     rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
 </head>
 <body>
   <nav class="navbar navbar-inverse">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="{% url 'foodapp:home' %}" style="font-weight: bold">FoodApp</a>
       </div>
       <ul class="nav navbar-nav">
         <li>
           <a href="{% url 'users:profile' %}">
             <span class="glyphicon glyphicon-user"></span> Profile
           </a>
         </li>
         <li>
           <a href="{% url 'foodapp:additem' %}">
             <span class="glyphicon glyphicon-plus"></span> Add Item
           </a>
         </li>
         <li>
  <form method="POST" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit"
      style="
        background: none;
        border: none;
        padding: 15px;
        font-size: 14px;
        color: #9d9d9d;
        text-decoration: none;
        transition: color 0.3s;"
      onmouseover="this.style.color='white';"
      onmouseout="this.style.color='#9d9d9d';"
    >
      <span class="glyphicon glyphicon-log-out"></span> Logout
    </button>
  </form>
</li>

      
        
       </ul>
     </div>
   </nav>

   {% block content %} 
   {% endblock %}
 </body>
</html>
